.about {
  color: $color-text-primary;
}

.about__container {
  display: flex;
  flex-direction: column;
  padding-block: 20px;

  @media (min-width: $tablet) {
    flex-direction: row;
    padding: 40px 0 39px;
  }

  @media (min-width: $desktop) {
    padding: 100px 0;
    align-items: flex-start;
  }
}

.about__text-wrappper {
  padding-inline: 15px;
  order: 1;

  @media (min-width: $tablet) {
    width: 270px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    width: 660px;
    padding-right: 75px;
  }
}

.about h2 {
  position: relative;
  margin: 0;
  padding: 17px 0 16px;
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
    padding: 20px 0 10px;
  }

  @media (min-width: $desktop) {
    font-size: 35px;
    line-height: 35px;
    padding: 45px 0 2px;
  }
}

.about h3 {
  margin: 0;
  margin-top: 26px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;

  &:first-of-type {
    @media (min-width: $tablet) {
      margin-top: 38px;
    }

    @media (min-width: $desktop) {
      margin-top: 57px;
    }
  }

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop) {
    font-size: 21px;
    line-height: 21px;
  }
}

.about p {
  position: relative;
  top: -1px;
  margin: 0;
  margin-top: 14px;

  @media (min-width: $tablet) {
    top: -3px;
  }

  @media (min-width: $desktop) {
    margin-top: 19px;
    font-size: 14px;
    line-height: 22px;
  }
}

.about__image {
  display: block;

  @media (min-width: $tablet) {
    padding-top: 134px;
  }

  @media (min-width: $desktop) {
    padding-top: 0;
  }
}
