.section-title {
  position: relative;
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop) {
    font-size: 35px;
    line-height: 35px;
  }

  &::before {
    content: attr(data-title);
    position: absolute;
    font-size: 26px;
    line-height: 26px;
    color: $color-text-primary;
    opacity: 0.03;
    z-index: -1;

    @media (min-width: $tablet) {
      font-size: 40px;
      line-height: 40px;
    }

    @media (min-width: $desktop) {
      font-size: 55px;
      line-height: 55px;
    }
  }
}
